<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../static/js/jquery.js"></script>
    <script>
        function getFileHandler() {
            $.ajax({
                'url': '/filemgr/getinfo',
                'method': 'get',
                'success': function (res) {
                    var str = '';
                    var body = $('#files').children('tbody');
                    $.each(res.files, function (k, v) {
                        str += '<tr bgcolor="#faebd7" align="left">';
                        str += '<td class="value", id="value"><a href=/filemgr/download?file=' + v + '>' + v + '</a></td>';
                        str += '</tr>';
                    });
                    body.html(str);
                }
            })
        }

        function logoutHandler() {
            $('#logout').click(function () {
                $.ajax({
                    'url': '/logout',
                    'type': 'post',
                    'success': function (res) {
                        alert(res.msg);
                        location.href = '/';
                    }
                })
            })
        }

        var filemgr = {
            'getFileHandler': getFileHandler,
        };
        var logio = {
            'logoutHandler': logoutHandler,
        };

        //main func start
        $(function () {
            filemgr.getFileHandler();
            logio.logoutHandler();
        })

    </script>
</head>
<body>
<h1 align="right"><button id="logout">退出</button></h1>
<table id="files" border="0.3" bgcolor="#7fffd4">
    <tbody></tbody>
</table>

<form action="/filemgr/upload" method="post" enctype="multipart/form-data">
    <p>
        <input type="file" name="file">
        <input type =submit value="upload">
    </p>
</form>

</body>
</html>