<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../static/js/jquery.js"></script>
    <script>
        function loginHandler() {
            $('#login').click(function () {
                var username = $('#username').val();
                var password = $('#password').val();
                console.log(username);
                console.log(password);
                $.ajax({
                    'url': '/login',
                    'type': 'post',
                    'data': {'username': username, 'password': password},
                    'success': function (res) {
                        switch (res.status) {
                            case 0:
                                alert(res.msg);
                                break;
                            case 1:
                                location.href = '/filemgr';
                                break;
                        }
                    }
                })
            })
        }
        function signupHandler() {
            $('#signup').click(function () {
                var username = $('#username').val();
                var password = $('#password').val();
                $.ajax({
                    'url': '/signup',
                    'type': 'post',
                    'data': {'username': username, 'password': password},
                    'success': function (res) {
                        alert(res.msg);
                        switch (res.status) {
                            case 0:
                                break;
                            case 1:
                                location.href = '/filemgr';
                                break;
                        }
                    }
                })

            })
        }

        var logio = {
            'loginHandler': loginHandler,
            'signupHandler': signupHandler,
        };

        //main func start
        $(function () {
            logio.loginHandler();
            logio.signupHandler();
        })

    </script>
</head>
<body>
<h1>HELLO WORLD!</h1>


<form>
    USERNAME: <input type="text" id="username"> <br/>
    PASSWORD: <input type="password" id="password">
    <!--<input type="submit", value="LOGIN", id="login">-->
</form>
<button id="login">登陆</button>
<button id="signup">注册</button>
</body>
</html>

