<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../static/js/jquery.js"></script>
</head>
<body>
<h1>HELLO WORLD!</h1>


<form>
    USERNAME: <input type="text", id="username">
    PASSWORD: <input type="password", id="password">
    <!--<input type="submit", value="LOGIN", id="login">-->
    <button id="'login">LOGIN</button>
</form>
</body>
</html>

<script>
    $(function () {
        var username = $('#username').val();
        var password = $('#password').val();

        $('#login').click(function () {
            // alert(username);
            // alert(password);
            console.log(username);
            console.log(password);
        })
    })
</script>